@using SafetyAdvisor.Helpers
@model SafetyAdvisor.Models.SafetyCheckViewModel

@{
    ViewBag.Title = "Safety-Check: neuer Check!";
}

<div class="container">

    @Html.RenderAlerts()

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    @using (Html.BeginForm("create", "safetycheck", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    @Html.EditorFor(m => m.PreviousItems, new { Hidden = true })
                    @Html.EditorFor(m => m.CurrentItems, new { ParentId = "accordion" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-default pull-left @(Model.CanGoPrev() ? "" : "disabled")" value="Previous" name="prev" id="prev"><i class="glyphicon glyphicon-arrow-left"></i> Zurück</button>
                <button class="btn btn-primary pull-right @(Model.CanGoNext() ? "" : "disabled")" type="submit" value="Next" name="next">Weiter <i class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#prev').click(function (e) {
                e.preventDefault();
                parent.history.back();
            });
        });

    </script>
}
