@model SafetyAdvisor.Models.EvaluationItem
@using SafetyAdvisor.Helpers;

@{
    ViewBag.Title = "Edit evaluation item";
}

<div class="container">

    @Html.RenderAlerts()

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
            @Html.Partial("_ParentBreadcrumbs", Model.GetFamillyTree().Reverse().ToList())
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("edit", "evaluationitems", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.Partial("_EditEvaluationItem")
            }
            <hr />
            <h3>Child items<a href="@Url.Action("create", new { parentid = Model.Id })" class="btn btn-success pull-right">Add child item...</a></h3>
            @Html.Partial("_ListEvaluationItems", Model.Children)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}