@model IEnumerable<SafetyAdvisor.Models.EvaluationItem>
@using SafetyAdvisor.Helpers

@{
    ViewBag.Title = "Evaluation items";
}

<div class="container">

    @Html.RenderAlerts()

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a href="@Url.Action("create")" class="btn btn-primary" role="button">Create new...</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Caption)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th class="text-center">Options</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Caption)
                        </td>
                        <td>
                            @string.Join("", item.Content.Take(75)) ...
                        </td>
                        <td class="text-center">
                            <a title="Edit" href="@Url.Action("edit", "EvaluationItems", new { id = item.Id })"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                            <a title="Delete" href="@Url.Action("delete", "EvaluationItems", new { id = item.Id })"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
