@using Microsoft.AspNet.Identity
@using SafetyAdvisor.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-medkit"></i>&nbsp;&nbsp;Module<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Safety-Check", "index", "safetycheck")</li>
                    <li>@Html.ActionLink("Safety-Risk Map", "index", "safetyriskmap")</li>
                    <li>@Html.ActionLink("Safety-Concepts", "index", "safetyconcepts")</li>
                    <li>@Html.ActionLink("Safety-Evaluation", "index", "safetyevaluation")</li>
                    <li>@Html.ActionLink("Kommunikation", "index", "communication")</li>
                </ul>
            </li>

            @if(User.CanEditContent() || User.CanAccessSiteSettings())
            {
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i>&nbsp;&nbsp;Settings<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (User.CanEditContent())
                    {
                        <li>@Html.ActionLink("Evaluation Items", "index", "evaluationitems")</li>
                    }
                    @if (User.CanAccessSiteSettings())
                    {
                        <li>@Html.ActionLink("Users", "index", "users")</li>
                    }
                </ul>
            </li>
            }

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;&nbsp;@User.Identity.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Account", "manage", "account")</li>
                    <li>@Html.ActionLink("Change password", "changepassword", "account")</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrieren", "register", "account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Einlogen", "login", "account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
